body {
}

#sol{
    width: 200px;
    min-height:800px;
    background-color: aqua;
    float:left; 
}

#sag {
    width: 800px;
    min-height: 800px;
    background-color:deepskyblue;
}

#footer{
    height:50px;
    background-color:gray;
    color:white;
    font-size:20px;
    width:1000px;
    clear:both;
}
