body {
}

*{
    padding:0px;
    margin:0px;
    list-style-type:none;
}
#sol{
    width: 200px;
    min-height:800px;
    background-color: aqua;
    float:left; 
}

#sag {
    width: 800px;
    min-height: 800px;
    background-color: deepskyblue;
    float: left;
}

#footer{
    height:50px;
    background-color:gray;
    color:white;
    font-size:20px;
    width:1000px;
    clear:both;
}

#vesikaresim{
    height:200px;
    width:200px;
    border-radius:100px;
}
#ana{
    margin:auto;
}

.resimyuvarla{
    border-radius:30px;
}

.sonyazilar{
    margin: 30px;
}